[submodule "thirdparty/imgui"]
	path = Lynx/thirdparty/imgui
	url = https://github.com/sinisastevanovic/imgui.git
[submodule "thirdparty/glm"]
	path = Lynx/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/GLFW"]
	path = Lynx/thirdparty/GLFW
	url=https://github.com/sinisastevanovic/glfw
[submodule "Lynx/thirdparty/spdlog"]
	path = Lynx/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
